@import url('https://fonts.googleapis.com/css?family=Lato');

* { font-family: 'Lato', sans-serif; }
a:hover { text-decoration:underline; }
h1 { font-family: sans-serif; font-size: 1em; color: grey; text-align:center; }

/* Shape colours */

#SvgjsRect1022, #SvgjsRect1029, #SvgjsRect1038, #SvgjsRect1046 {
    fill: orange;
}
